/* #region NORMALIZE */
body{
    font-family: 'Aboreto', sans-serif;
    background-color: #E0CBB4;
    color: #0B0803;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion NORMALIZE */
.container{
    min-width: 320px;
    padding: 0px 16px;
    margin: 0 auto;
}
@media (min-width: 768px){
    .container{
        max-width: 768px;
        padding: 0px 32px;
    }
}
@media (min-width: 1158px){
    .container{
        max-width: 1158px;
        padding: 0px 64px;
    }
}

/* #region SUBSCRIBE */
.cont-subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 64px 16px;
    gap: 32px;
}
.title-thin {
    margin-bottom: 24px;
}
.wrap-text-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}
.form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    width: 100%;
    gap: 24px;
    margin: 0 auto;
}
.wrapper {
    position: relative;
    width: 100%;
}
.input-subscribe {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px #0B080326 solid;
    border-radius: 12px;
    padding: 8px 12px;
}
.input-subscribe:hover {
    outline: none;
}
.input-subscribe:focus {
    outline: none;
}
.error-text {
    position: absolute;
    color: #7F1C1C;
    font-size: 12px;
    left: 0px;
    bottom: -18px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms, visibility 200ms;
}
.input-subscribe:invalid:not(:placeholder-shown) {
    border-color: #7F1C1C;
    color: #7F1C1C;
    outline: none;
}
.input-subscribe:invalid:not(:placeholder-shown)+.error-text {
    visibility: visible;
    opacity: 1;
}
.input-subscribe:valid {
    outline: none;
}
.button-subscribe {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #6F4E37;
    color: #fff;
    width: 100%;
    max-width: 640px;
    padding: 10px 24px;
    border: none;
    border-radius: 100px;
    box-shadow: 
        0px 1px 2px 0px rgba(11, 8, 3, 0.05),
        inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
        inset 0px 0px 0px 1px rgba(11, 8, 3, 0.15),
        inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
        inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
.button-subscribe:hover {
    opacity: 0.5;
    transition: opacity 200ms ease-in;
}
.button-subscribe:focus {
    background-color: #6F4E37;
    box-shadow: none;
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.subscr-svg {
    fill: #FFFFFF;
    margin-left: 12px;
}
.small-paragraph {
    font-size: 12px;
    margin-top: 8px;
}
.image-block {
    display: block;
    flex: 1;
    text-align: right;
    height: 400px;
}
.subscribe-img{
    max-width: 100%;
    height: 400px;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .cont-subscribe {
        align-items: center;
        margin: 64px 32px;
        max-width: 1000px;
    }
    .wrap-text-block {
        align-items: center;
        width: 100%;
    }
    .text-block {
        width: 100%;
    }
    .form-subscribe {
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: none;
    }
    .wrapper {
        width: 70%;
        flex-grow: 0;
    }
    .input-subscribe {
        width: 100%;
    }
    .button-subscribe {
        width: 30%;
        flex-shrink: 0;
        max-width: none;
    }
}

@media screen and (min-width: 1440px) {
    .cont-subscribe {
        flex-direction: row;
        align-items: center;
        margin: 64px;
    }
    .title-thin {
        font-size: 56px;
    }
    .wrap-text-block {
        flex: 1;
    }
    .text-block {
        width: 100%;
    }
    .image-block {
        flex-shrink: 0;
        text-align: left;
        width: 50%;
    }
}
/* #endregion SUBSCRIBE */
