/* #region Subscribe section*/
.subscribe {
    padding: 64px 0;
}
.cont-subscribe {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-thin {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 24px;
}
.paragraph {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.wrap-text-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}
.form-subscribe {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    gap: 24px;
}
@media(min-width: 768px){
    .form-subscribe {
        flex-direction: row;
        width: 80%;
        max-width: 550px;
    }
}
.wrapper {
    position: relative;
    width: 100%;
}

.input-subscribe {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border: 1px #0B080326 solid;
    border-radius: 12px;
    padding: 8px 12px;
}
.input-subscribe:hover {
    outline: none;
}
.input-subscribe:focus {
    outline: none;
}

.error-text {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    color: #7F1C1C;
    font-size: 12px;
    left: 0px;
    bottom: -18px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms, visibility 200ms;
}

.input-subscribe:invalid:not(:placeholder-shown) {
    border-color: #7F1C1C;
    color: #7F1C1C;
    outline: none;
}
.input-subscribe:invalid:not(:placeholder-shown)+.error-text {
    visibility: visible;
    opacity: 1;
}
.input-subscribe:valid {
    outline: none;
}

.button-subscribe {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #6F4E37;
    color: #fff;
    width: 100%;
    max-width: 640px;
    padding: 10px 24px;
    border: none;
    border-radius: 100px;
    gap: 12px;
    box-shadow:
        0px 1px 2px 0px rgba(11, 8, 3, 0.05),
        inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
        inset 0px 0px 0px 1px rgba(11, 8, 3, 0.15),
        inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
        inset 0px 32px 24px 0px rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition: opacity 200ms ease-in;
}
@media(min-width: 768px){
    .button-subscribe {
        flex-shrink: 0;
        width: auto;
        max-width: 160px;
    }
}
.button-subscribe:focus,
.button-subscribe:hover {
    opacity: 0.5;
}

.subscr-svg {
    fill: #FFFFFF;
}
.small-paragraph {
    font-family: 'Quicksand',sans-serif;
    font-size: 12px;
    margin-top: 8px;
}

.image-block {
    display: block;
    flex: 1;
    text-align: right;
    height: 400px;
}
.subscribe-img {
    max-width: 100%;
    height: 400px;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .wrapper {
        flex-grow: 1;
        width: auto;
    }
    .error-text {
        bottom: -10px;
    }
}

@media screen and (min-width: 1440px) {
    .cont-subscribe {
        flex-direction: row;
        align-items: center;
    }
    .title-thin {
        font-size: 56px;
    }
    .wrap-text-block {
        flex: 1;
    }
    .text-block {
        width: 100%;
    }
    .image-block {
        flex-shrink: 0;
        text-align: left;
        width: 50%;
    }
}

/* #endregion Subscribe section*/
